.venv/
train_pytorch/data/
train_pytorch/mnist/
train_pytorch/dataset/
pet/load_runner/model/
pet/load_runner/data/
pet/load_runner/screenshots/


train_pytorch/model_mnist/mnist_dataset_train.pt
train_pytorch/model_mnist/mnist_dataset_test.pt
pandas/stud.csv
pandas/users.csv
pandas/users_action.csv
pet/titanic/data
